name: Build Docker Image

on:

  push:
    branches: [ main123 ]
  workflow_dispatch: # manual trigger


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Required to push to GHCR

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # Path to the build context (where your Dockerfile is)
          file: ./Dockerfile_distroless # Path to your Dockerfile
          push: true # Set to true to push to a registry
          tags: ghcr.io/${{ github.repository }}:latest
#         cache-from: type=gha # Optional: enable GitHub Actions cache for faster builds
#         cache-to: type=gha,mode=max # Optional: enable GitHub Actions cache for faster builds
